@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        136deg,
        #61d954,
        #2ebf75
    );
}

.container {
    background: #fff;
    width: 50%;
    min-width: 400px;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, .15);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row span {
    font-weight: 500;
}

/* Target Range Slide Line or Platform */
input[type="range"] {
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    outline: none;
    border-radius: 3px;
}

/* Target Range Thumb or circular shape on slide line */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #1c1c1c;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#result {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881
}
